<h3>Редактировать физ. лицо</h3>
<div>
	<form ng-submit="addClient()" name="form">
		Ф.И.О. 
		<input type="text" ng-model="person.name" required/>

		<input type="button" value="Добавить e-mail" ng-click="addContact('email', 'E-mail')">
		<input type="button" value="Добавить телефон" ng-click="addContact('number', 'Телефон')">

		<div ng-repeat="contact in person.contacts">
			{{contact.name}} 
			<input type="{{contact.type}}" ng-model="contact.value" required>
			<button ng-click="delContact(contact)">Delete</button>
		</div>

		<hr>
		<input class="btn btn-primary" type="submit" value="Сохранить изменения" ng-disabled="!form.$valid">
		<input class="btn btn-danger" type="button" value="Удалить" ng-click="delClient()">
	</form>
</div>