<h3>Новое физ. лицо</h3>
<div>
	<form>
		<input type="text" ng-model="person.name"/>

		<button ng-click="addContact()">Add contact ifno</button>

		<div ng-repeat="contact in person.contacts">
			<select ng-model="contact.type">
				<option value="E-mail">E-mail</option>
				<option value="Телефон">Телефон</option>
			</select>
			<input type="text" ng-model="contact.value">
			<button ng-click="delContact(contact)">Delete</button>
		</div>

		<hr>
		<input type="button" ng-click="addClient()" value="Добавить физ. лицо">
	</form>
</div>